.main-head {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
    margin: 0px;
    background-color: #222222;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

body {
    margin: 0px;
    font-family: 'Crimson Text', serif;
    background-color: white;
    color: black;
}

.myname {
    height: 20px;
    line-height: 27px;
    color: white;
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    margin-top:17.5px;
    margin-bottom: 17.5px;
    float: left;
    padding: 10px;
    text-decoration: none;
    background-color: #181818;
    border-radius: 10px;
}
.myname:hover {
    cursor: pointer;
}

.headerlink {
    color: white;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    float: right;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
}

.headerlink:hover {
    background-color: #333333;
    cursor: pointer;
}

.main-content {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    border: none;
    align-content: center;
}

.bodybox {
    background-color: silver;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#github {
    cursor: alias;
}

.navbutton {
    float: right;
    display: none;
    height: 100%;
    width: 75px;
    font-size: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 665px){
    .headerlink{
        display: none;
    }
    
    .navbutton {
        display: inline-block;
    }
}

#addlMenu {
    position: absolute;
    width: 200px;
    top: 75px;
    right: 0px;
    background-color: #222222;
    display: none;
}

.addlink {
    width: 100%;
    height: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: none;
    cursor: pointer;
}



#typeform-full {
    height: 100vh;
}
