<!DOCTYPE html>
<html>
<head>
    <title>Matthew Doto</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <header class="main-head">
        <a class="myname" href="/">Matthew Doto</a>
        {% for link in links %}
        {% if link['type'] == 'page' %}
        <a class="headerlink" href="/{{link['href']}}">{{link['name']}}</a>
        {% elif link['type'] == 'link' %}
        <a class="headerlink" href="{{link['href']}}" target="_blank">{{link['name']}}</a>
        {% endif %}
        {% endfor %}
        <button class="navbutton" onclick="toggleAddlMenu()">&#8801;</button>
        <div id="addlMenu">
            {% for link in links %}
            {% if link['type'] == 'page' %}
            <a class="addlink" href="/{{link['href']}}">{{link['name']}}</a>
            {% elif link['type'] == 'link' %}
            <a class="addlink" href="{{link['href']}}" target="_blank">{{link['name']}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </header>
    {% for item in content %}
    <div class="bodybox" >{{item}}</div>
    {% endfor %}
    <script>
     var menuShown = false;
     document.addEventListener("click", function(e) {
         if(e.target.className != "navbutton"){
             document.getElementById("addlMenu").style.display="none";
             menuShown = false;
	       }
     });
     function toggleAddlMenu(){
	       if(menuShown){
             document.getElementById("addlMenu").style.display="none";
	       }
	       else{
             document.getElementById("addlMenu").style.display="block";
	       }
         menuShown = !menuShown;
     }
    </script>
</body>
</html>
