.main-head
  width 100%
  margin 0px
  background-color #222222
  font-family 'Josefin Sans', sans-serif
  font-size 20px
  vertical-align center
  height: 75px;

.headerlink
  transition background-color .3s, border-radius .5s, padding .3s linear, margin-left .3s linear, margin-right .3s linear, margin-top .3s linear
  color white
  display inline-block
  height 55px
  line-height 55px
  float right
  margin-right 10px
  padding 10px
  text-decoration none
  &:hover
    border-radius 5px
    background-color: #333333
    padding: 5px
    margin-left: 5px
    margin-right: 15px
    margin-top: 3px
    cursor: pointer

.myname
  height: 20px
  line-height: 27px
  color: white
  vertical-align: middle
  display: inline-block
  margin-left: 15px
  margin-top: 17.5px
  margin-bottom: 17.5px
  float: left
  padding: 10px
  text-decoration: none
  background-color: #181818
  border-radius: 10px
  transition: margin-top .3s linear
  &:hover
    margin-top: 15.5px
    cursor: pointer
